/*插件样式*/
@mixin animation-hover {
  &:hover, &:focus, &:active {
    cursor: pointer;
    border-bottom: 2px solid $lightblue;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

@mixin part {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
}