@charset "UTF-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

.body-footer, .body {
  min-width: 1200px; }

* {
  /*color: #575757;*/
  font: 14px/24px "microsoft yahei", "times new roman", sans-serif; }

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none; }

ul,
li {
  list-style-type: none; }

html {
  position: relative; }

html, body {
  height: 100%; }

.container-box {
  box-sizing: border-box; }

.container-main {
  overflow: hidden;
  zoom: 1; }

.col-left {
  width: 200px;
  line-height: 45px;
  border-top: 0;
  border-left: 0; }

.col-right {
  border-left: 1px solid #dad9de;
  min-height: 570px;
  float: right;
  margin-left: -100%;
  width: 997px; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #DCDCDC;
  color: inherit; }

.select2-container--default .select2-results__option[aria-selected=true] .tag {
  color: gray;
  opacity: 1; }

.jui-btn.jui-btn-blue {
  background-color: #108ee9;
  border-color: #108ee9; }

.body {
  background-color: #fff;
  padding: 0; }

/*瑙ｅ喅toast琚鑸鐩栫殑闂*/
.jui-tip#J_error {
  z-index: 1003; }

@font-face {
  font-family: "rei";
  src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20150616");
  /* IE9 */
  src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20150616#iefix") format("embedded-opentype"), url("https://i.alipayobjects.com/common/fonts/rei.woff?20150616") format("woff"), url("https://i.alipayobjects.com/common/fonts/rei.ttf?20150616") format("truetype"), url("https://i.alipayobjects.com/common/fonts/rei.svg?20150616#rei") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "rei";
  font-style: normal;
  font-weight: normal;
  cursor: default;
  -webkit-font-smoothing: antialiased; }

body {
  position: relative; }

@font-face {
  font-family: 'newIcon';
  src: url("//at.alicdn.com/t/font_1468928161_252794.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1468928161_252794.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1468928161_252794.woff") format("woff"), url("//at.alicdn.com/t/font_1468928161_252794.ttf") format("truetype"), url("//at.alicdn.com/t/font_1468928161_252794.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.newIcon {
  font-family: 'newIcon'; }

ul {
  list-style: none;
  /*border:solid 1px #000;*/ }

.fn-opacity {
  opacity: 0; }

.ft-up:after {
  font-family: newIcon;
  content: "\e615"; }

.ft-down:after {
  font-family: newIcon;
  content: "\e616"; }

.fn-clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both; }

.fn-center {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.fn-hide {
  display: none; }

.fn-left {
  float: left; }

.ft-right {
  text-align: right; }

.fn-bottom {
  border-bottom: solid 1px #fff;
  padding-bottom: 10px;
  margin-bottom: 10px; }

#openhomeHeader .fn-bd {
  border: solid 1px #f00; }

/*start btn*/
/*end btn*/
/*start head*/
/*start header */
#openhomeHeader.header-content {
  position: absolute;
  text-align: right;
  height: auto;
  width: 100%;
  /*min-width: 1440px;*/
  z-index: 1002;
  background: transparent;
  transition: all .7s;
  -moz-transition: all .7s;
  -webkit-transition: all .7s;
  -o-transition: all .7s; }

#openhomeHeader.header-content.fn-bg {
  /*background:rgba(0,0,0,0.5);*/ }

#openhomeHeader.header-content.fixed {
  position: relative; }

#openhomeHeader.header-content.fixed .account-center {
  background: #242735; }

#openhomeHeader .mainBox {
  width: 1200px;
  margin: auto;
  position: relative; }

#openhomeHeader .header-account-box {
  /*right: 112px;*/
  right: 0px;
  position: absolute;
  z-index: 1100; }

#openhomeHeader .header-account-box .inner a {
  color: #fff;
  font-size: 12px;
  opacity: .6;
  line-height: 1.1;
  margin-top: 3px;
  /*color\0: #aaa9ae;*/ }

#openhomeHeader .header-account-box .inner > li > span {
  color: #fff;
  font-size: 12px;
  opacity: .6;
  /*color\0: #aaa9ae;*/ }

#openhomeHeader .header-account-box .inner a:hover {
  opacity: 1; }

#openhomeHeader .customer-service a {
  opacity: 1;
  display: block;
  margin-top: 6px; }

#openhomeHeader .customer-service a:hover {
  text-decoration: underline; }

#openhomeHeader .header-account-box .inner {
  width: 100%;
  padding-top: 2px; }

#openhomeHeader .header-account-box .inner li:nth-child(1) {
  border-left: 0;
  margin-left: 0;
  padding-left: 0; }

#openhomeHeader .header-account-box .inner li {
  float: left;
  font-size: 12px;
  text-align: center; }

#openhomeHeader .header-account-box .inner li .account-meta.first {
  border-left-width: 0px; }

#openhomeHeader.header-content .account-meta {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px; }

#openhomeHeader.header-content .account-center {
  padding: 6px 0px 6px 0px;
  height: 17px;
  box-sizing: content-box; }

#openhomeHeader.fixed .account-center {
  padding: 2px 0px 6px 0px;
  height: 20px; }

#openhomeHeader .account-center-bg {
  background: #242735; }

#openhomeHeader .account-meta, .notice span {
  display: inline-block;
  font-size: 12px; }

#openhomeHeader #J_qrcode {
  height: 13px;
  margin-top: 4px; }

#openhomeHeader .inner .login-qrcode {
  font-size: 22px;
  position: relative;
  top: -5px;
  opacity: .6; }

#openhomeHeader .inner .login-qrcode:hover {
  opacity: 1; }

#openhomeHeader .qrcode-icon {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 1px;
  width: 16px; }

#openhomeHeader .qrcode:hover .qrcode-div {
  display: block;
  zoom: 1; }

#openhomeHeader .qrcode-icon {
  vertical-align: top;
  margin-left: 10px;
  margin-top: 1px;
  width: 16px; }

#openhomeHeader .qrcode-div {
  position: absolute;
  right: -20px;
  top: 34px;
  text-align: center;
  width: 110px;
  display: none;
  z-index: 1101;
  zoom: 1; }

#openhomeHeader .qrcode-div:after, #openhomeHeader .qrcode-div:before {
  content: "";
  position: absolute;
  margin-top: -6px;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 0 6px 6px;
  border-style: dashed dashed solid;
  border-color: transparent;
  left: 66%;
  margin-left: -6px; }

#openhomeHeader .qrcode-div:before {
  border-bottom-color: #e6e7ec;
  top: 0; }

#openhomeHeader .qrcode-div:after {
  border-bottom-color: #fff;
  top: 1px; }

#openhomeHeader .qrcode-inner {
  padding: 5.5px 12px;
  border: 1px solid #e6e7ec;
  line-height: 21px;
  background-color: #fff;
  word-wrap: break-word;
  word-break: break-all; }

#openhomeHeader .txt-qrcode {
  color: #222; }

#openhomeHeader .customer-service-li {
  width: 80px;
  text-align: center;
  /*max-width: 58px;*/ }

#openhomeHeader .customer-service-title .account-meta {
  /*transform:scale(0.2);*/
  opacity: 0.6;
  line-height: 1.1; }

#openhomeHeader .customer-service {
  width: 115px;
  /*height:200px;*/
  position: relative;
  z-index: 1100;
  margin-top: 5px;
  margin-left: 8px;
  background: #242735;
  text-align: left;
  padding: 10px 35px 10px 15px;
  opacity: 0.8;
  color: #fff; }

/*end login*/
#openhomeHeader .menu-content {
  /*min-width: 1440px;*/
  color: #fff;
  transition: background 3s, color 1s;
  -moz-transition: background 3s, color 1s;
  -webkit-transition: background 3s, color 1s;
  -o-transition: background 3s, color 1s; }

#openhomeHeader.header-content.fixed .menu-content {
  background: #fff;
  color: #242735; }

#openhomeHeader.header-content.fixed .menu-content a {
  color: #242735; }

#openhomeHeader.header-content.fixed .menu-content .selected a {
  color: #108ee9; }

#openhomeHeader .antLogo {
  width: 219px;
  height: 58px;
  float: left; }

#openhomeHeader.header-content.fixed .menu-content .antLogo {
  width: 219;
  height: 58px;
  float: left;
  margin-top: 6px; }

#openhomeHeader .antLogo .antLogoImg {
  margin-top: 1.0em; }

#openhomeHeader .nav-menu {
  float: right;
  margin-top: 26px; }

#openhomeHeader .nav-menu a {
  color: #fff;
  text-decoration: none; }

#openhomeHeader .nav-menu ul {
  font-size: 16px; }

#openhomeHeader .nav-menu li {
  float: left;
  padding-bottom: 19px; }

#openhomeHeader .nav-menu li div {
  padding-left: 20px;
  padding-right: 20px; }

#openhomeHeader.header-content.fixed .nav-menu .menu-item {
  opacity: 1; }

#openhomeHeader .nav-menu .menu-item {
  opacity: 0.6; }

#openhomeHeader .nav-menu .menu-item .fn-arrow {
  padding-right: 12px; }

#openhomeHeader .nav-menu .menu-item .fn-arrow:after {
  content: "";
  background: url("https://zos.alipayobjects.com/rmsportal/PkNfEvgvsfgdlDX.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-left: 5px;
  width: 8px;
  height: 4px;
  display: inline-block; }

#openhomeHeader .nav-menu .menu-item.selected .fn-arrow:after, #openhomeHeader .nav-menu .menu-item.mouseover .fn-arrow:after {
  background-image: url("https://zos.alipayobjects.com/rmsportal/xwkHInEEorhkKEP.png"); }

#openhomeHeader .nav-menu li.lastChild {
  padding-left: 0px;
  padding-right: 0px; }

#openhomeHeader .nav-menu li.lastChild div {
  padding-left: 40px;
  border-left: solid 1px #fff; }

#openhomeHeader.header-content.fixed .menu-content .nav-menu li.lastChild div {
  padding-left: 40px;
  border-left: solid 1px #D3D3D3; }

#openhomeHeader .nav-menu .menu-item.selected {
  opacity: 1;
  border-bottom: solid 2px #fff; }

#openhomeHeader.header-content.fixed .menu-content .nav-menu .selected {
  color: #108EE9;
  border-bottom: solid 2px #108EE9; }

#openhomeHeader.header-content.fixed .nav-menu .menu-item.mouseover a {
  color: #108EE9; }

#openhomeHeader .nav-menu .menu-item.mouseover {
  opacity: 1;
  /*border-bottom:solid 2px #fff;*/ }

#openhomeHeader .nav-menu li.lastChild.mouseover div {
  border-color: rgba(255, 255, 255, 0.6); }

.header-content.fixed .child-menu-content {
  color: #1a1a1a;
  /*border-top:solid 2px #F7F7FA;*/ }

#openhomeHeader .child-menu-content {
  /*background: #f00;*/
  /*height: 449px;*/
  width: 100%;
  /*min-width: 1440px;*/
  /*position: absolute;*/
  /*z-index: 90;*/
  color: #fff;
  font-size: 16px;
  /*display: none;*/ }

#openhomeHeader .child-menu-content .mask-content {
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 449px;
  position: absolute;
  z-index: 1100; }

#openhomeHeader.header-content.fixed .child-menu {
  text-shadow: none;
  position: relative; }

#openhomeHeader .child-menu {
  position: relative;
  z-index: -1;
  width: 100%;
  text-shadow: 0px 0px 0px #000; }

/*end solve-child-menu*/
#openhomeHeader.header-content.fixed .child-menu .solve-div {
  border-top: solid 2px #F7F7FA;
  position: absolute;
  /*border:solid 2px #f00;*/ }

#openhomeHeader .child-menu .solve-div {
  padding: 164px 0px 0px 0px;
  height: 400px;
  position: absolute; }

#openhomeHeader.fixed .child-menu .solve-div {
  padding-top: 64px; }

#openhomeHeader .child-menu-item, #openhomeHeader.fixed .child-menu-item.solve-div {
  position: absolute;
  width: 100%;
  top: 0px; }

#openhomeHeader .child-menu-item.solve-div {
  top: -100px; }

#openhomeHeader .child-menu-item a {
  text-decoration: none; }

#openhomeHeader .solve-div.fn-topM {
  display: none; }

#openhomeHeader .demo-div.fn-topM {
  display: none; }

#openhomeHeader .document-div.fn-topM {
  display: none; }

#openhomeHeader.header-content.fixed .solve-div .mask-item {
  background: #fff;
  opacity: 1;
  border-bottom: 1px solid #eaebef; }

#openhomeHeader .solve-div .mask-item {
  width: 100%;
  height: 556px;
  position: absolute;
  z-index: 1100;
  background: #000;
  opacity: .5;
  top: 0px;
  left: 0px; }

#openhomeHeader.fixed .solve-div .mask-item {
  height: 456px; }

#openhomeHeader .solve-child-menu {
  position: relative;
  padding-left: 25px;
  z-index: 1200;
  width: 1200px;
  margin: auto; }

#openhomeHeader .solve-child-menu .solve-child-menu-item {
  float: left;
  text-align: left; }

#openhomeHeader .solve-child-menu .pd-left {
  padding-left: 107px; }

#openhomeHeader .solve-child-menu .menu-item-icon {
  opacity: 0.8; }

#openhomeHeader .solve-child-menu .menu-item-icon img {
  height: 32px;
  text-align: left; }

#openhomeHeader.header-content.fixed .menu-item-title {
  color: #6D7C8F; }

#openhomeHeader .solve-child-menu .menu-item-title {
  opacity: 0.7; }

#openhomeHeader.fixed .solve-child-menu .menu-item-title {
  opacity: 0.7; }

#openhomeHeader.header-content.fixed .solve-child-menu .pay-menu .menu-item-title, #openhomeHeader.header-content.fixed .solve-child-menu .life-menu .menu-item-title, #openhomeHeader.header-content.fixed .solve-child-menu .public-menu .menu-item-title {
  border-bottom: solid 2px rgba(201, 209, 218, 0.6); }

#openhomeHeader .solve-child-menu-item ul {
  padding-top: 30px; }

#openhomeHeader .solve-child-menu-item li {
  float: left;
  padding-bottom: 18px; }

#openhomeHeader .solve-child-menu-item.life-menu, .solve-child-menu-item.public-menu {
  padding-left: 107px; }

#openhomeHeader .solve-child-menu-item.pay-menu ul {
  width: 200px; }

#openhomeHeader .solve-child-menu-item.pay-menu li {
  float: left;
  width: 100px;
  padding-bottom: 18px; }

#openhomeHeader .solve-child-menu-item.life-menu ul {
  width: 361px; }

#openhomeHeader .solve-child-menu-item.life-menu li {
  width: 25%; }

#openhomeHeader .solve-child-menu-item.public-menu ul {
  width: 397px; }

#openhomeHeader .solve-child-menu-item.public-menu li {
  width: 25%; }

#openhomeHeader .solve-child-menu .pay-menu .menu-item-title {
  padding-top: 16px;
  padding-bottom: 13px;
  width: 200px;
  border-bottom: solid 1px #fff; }

#openhomeHeader .solve-child-menu .life-menu .menu-item-title {
  padding-top: 16px;
  padding-bottom: 13px;
  width: 359px;
  border-bottom: solid 1px #fff; }

#openhomeHeader .solve-child-menu .public-menu .menu-item-title {
  padding-top: 16px;
  padding-bottom: 13px;
  width: 397px;
  border-bottom: solid 1px #fff; }

#openhomeHeader .solve-child-menu-item li a {
  color: #fff; }

#openhomeHeader .solve-child-menu-item li a:hover {
  text-decoration: underline; }

#openhomeHeader.header-content.fixed .solve-child-menu-item li a {
  color: #1a1a1a; }

#openhomeHeader.header-content.fixed .solve-child-menu-item li a:hover {
  color: #108EE9; }

/*.header-content.fixed .solve-child-menu-item table td:hover{
color:#108EE9;
}*/
/*end solve-child-menu*/
/*start demo-child-menu*/
#openhomeHeader .demo-child-menu {
  height: 88px;
  text-align: center;
  /*border:solid 1px #f00;*/ }

#openhomeHeader.header-content.fixed .demo-div .mask-item {
  /*background:#fff;*/
  /*opacity: 1;*/ }

#openhomeHeader .demo-div .mask-item {
  width: 100%;
  height: 88px;
  position: absolute;
  z-index: 1100;
  background: #000;
  opacity: .5; }

#openhomeHeader .demo-child-menu .demo-child-content {
  position: relative;
  z-index: 1200;
  padding-top: 21px;
  padding-bottom: 6px;
  display: inline-block; }

#openhomeHeader .demo-child-menu .demo-child-content li.selected {
  float: left;
  padding: 0px 46px;
  cursor: pointer; }

#openhomeHeader .demo-child-menu .demo-child-content li {
  float: left;
  padding: 0px 46px;
  cursor: pointer; }

#openhomeHeader .demo-child-menu .demo-child-content li a {
  color: #fff;
  text-decoration: none; }

#openhomeHeader .demo-child-content img {
  width: 28px;
  height: 26px; }

#openhomeHeader .demo-child-menu .demo-child-content .menu-item-title {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 22px; }

#openhomeHeader .demo-child-menu .demo-child-content .selected .menu-item-title {
  border-bottom: solid 1px #fff; }

#openhomeHeader .icon-w {
  display: block; }

#openhomeHeader .icon-b {
  display: none; }

#openhomeHeader.header-content.fixed .icon-w {
  display: none; }

#openhomeHeader.header-content.fixed .icon-b {
  display: block; }

/*end demo-child-menu*/
/*start doc-child-menu*/
#openhomeHeader .document-child-menu {
  position: relative;
  z-index: 1200;
  /*margin-right: 505px;*/
  width: 1200px;
  margin: auto; }

#openhomeHeader.header-content.fixed .doc-ul li {
  background: #fff; }

#openhomeHeader.header-content.fixed .doc-ul:before {
  border-bottom: 10px solid #fff;
  width: 10px;
  height: 10px;
  background: #fff;
  border: solid #D3DBE1;
  border-width: 1px 0px 0px 1px;
  margin: auto;
  position: relative;
  bottom: -5px;
  transform: rotateZ(45deg);
  top: auto; }

#openhomeHeader .doc-ul {
  text-align: center;
  position: absolute !important; }

#openhomeHeader .doc-ul li {
  background: rgba(0, 0, 0, 0.6); }

#openhomeHeader .doc-ul:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  /*background:rgba(0,0,0,0.6);*/
  margin: auto;
  position: relative;
  top: 0px;
  /*transform: rotateZ(45deg);*/
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.6); }

#openhomeHeader .doc-ul .doc-li {
  width: 105px;
  line-height: 50px; }

#openhomeHeader.fixed .doc-ul .doc-li {
  border-left: 1px solid #e6e7ec;
  border-right: 1px solid #e6e7ec; }

#openhomeHeader.fixed .doc-ul .doc-li:first-child {
  border: 1px solid #e6e7ec;
  border-bottom: none; }

#openhomeHeader.fixed .doc-ul .doc-li:last-child {
  border: 1px solid #e6e7ec;
  border-top: none; }

#openhomeHeader .doc-ul .doc-li a {
  color: #fff; }

#openhomeHeader .doc-ul .doc-li a:hover {
  text-decoration: underline; }

#openhomeHeader .document-div .mask-item {
  width: 100%;
  height: 450px;
  position: absolute;
  z-index: 1100;
  background: #000;
  opacity: .5;
  top: 0px;
  left: 0px; }

.swiper-slide a:hover {
  text-decoration: none; }

#openhomeHeader .solve-child-menu .menu-item-title {
  font-size: 18px; }

#openhomeHeader.header-content.fixed .document-div .mask-item {
  background: #fff;
  opacity: 1;
  border-bottom: 1px solid #eaebef; }

#openhomeHeader.header-content.fixed .doc-li a {
  color: #1a1a1a; }

#openhomeHeader.header-content.fixed .doc-li a:hover {
  color: #108EE9; }

.menu-item.home-menu span {
  cursor: default; }

/*end doc-child-menu*/
/*end head*/
/*goTop*/
.goTop {
  border: solid 1px #E8E8E8;
  background: #fff;
  color: #6D7C8F;
  position: fixed;
  right: 30px;
  bottom: 50px;
  z-index: 2000;
  width: 50px;
  height: 50px;
  /*line-height: 64px;*/
  font-size: 28px;
  display: none;
  text-align: center;
  cursor: pointer;
  /*opacity: 0;
transition: all 2s;
-moz-transition: all 2s;
-webkit-transition: all 2s;
-o-transition: all 2s;*/ }

.goTop .icon {
  line-height: 18px;
  font-size: 18px;
  padding-top: 6px; }

.goTop .text {
  font-size: 12px; }

.slick-content {
  width: 100%;
  height: 558px;
  position: relative; }

.slick-content-box {
  width: 100%;
  height: 558px;
  position: relative;
  overflow: hidden; }

.slick-item {
  width: 100%;
  height: 558px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /*transition:all 0.3s ease-in-out;
-moz-transition:all 0.3s ease-in-out;
-webkit-transition:all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out;*/ }

.nav-mask-item {
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.3) 0%, transparent 92%);
  height: 168px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }

.notice-mask-item {
  opacity: 0.15;
  background-color: #000;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

.slick-content .img {
  width: 100%;
  display: block;
  height: 558px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover; }

.fn-filter {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=10, MakeShadow=false);
  transform: scale(1.1);
  zoom: 1.0 \9; }

.img.fn-filter {
  position: absolute;
  top: -5;
  bottom: 0;
  left: -5;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.theme-title {
  position: relative;
  width: 1200px;
  top: 40%;
  /*bottom: 50%;*/
  margin: auto;
  z-index: 10; }

.main-title {
  font-size: 54px;
  color: #fff;
  line-height: 75px; }

.sub-title {
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  padding-top: 11px; }

/*.swiper-pagination {
position: absolute;

z-index: 20;
bottom:40px;
width: 1200px;
margin: auto;
left: 0px;
right: 0px;
text-align: left;
}
.swiper-pagination-switch {
display: inline-block;

border-radius: 8px;
background: #555;
margin: 0 5px;
opacity: 0.8;

cursor: pointer;

width:8px;
height:8px;
background: rgba(255,255,255,0.5)
}
.swiper-active-switch {
background: rgba(255,255,255,0.8);
}*/
#swiper-pagination {
  bottom: 40px;
  width: 1200px;
  margin: auto;
  left: 0px;
  right: 0px;
  text-align: left; }

#swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5); }

#swiper-pagination.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 0.8); }

.J-imgBox {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.slick-content .slick-dots {
  width: 1200px;
  margin: auto;
  left: 0px;
  right: 0px;
  text-align: left;
  bottom: 50px; }

.detail .content p {
  text-align: left; }

.detail .content strong {
  font-weight: 700; }

@font-face {
  font-family: 'newIcon';
  src: url("//at.alicdn.com/t/font_1468928161_252794.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1468928161_252794.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1468928161_252794.woff") format("woff"), url("//at.alicdn.com/t/font_1468928161_252794.ttf") format("truetype"), url("//at.alicdn.com/t/font_1468928161_252794.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
a, a:hover {
  color: #108ee9; }

.jui-btn.jui-btn-table, .jui-btn.jui-btn-table.jui-btn-active, .jui-btn.jui-btn-table:active, .jui-btn.jui-btn-table:hover {
  border-color: #108ee9;
  color: #108ee9; }

.float-tips a:hover {
  text-decoration: underline; }

.newIcon {
  font-family: 'newIcon'; }

.solve-up:after {
  content: "\e616";
  font-family: "newIcon"; }

.solve-down:after {
  content: "\e615";
  font-family: "newIcon";
  color: #fff; }

/*start solve*/
.solve-content {
  background: #F7F7FA;
  text-align: center; }

.solve-content a {
  text-decoration: none; }

.solve-title {
  color: #38425C;
  font-size: 32px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 45px; }

.solve-list-content {
  display: inline-block; }

.solve-ul {
  padding-bottom: 72px; }

.solve-li {
  float: left;
  border: solid #E8E8E8;
  border-width: 1px 1px 1px 0px;
  width: 342px;
  height: 421px;
  background: #fff;
  overflow: hidden;
  position: relative; }

.solve-li:nth-child(1) {
  border-width: 1px 1px 1px 1px; }

.solve-li table {
  top: 0px; }

.solve-icon {
  padding-top: 10px; }

.solve-item {
  /*padding-bottom:10px;*/
  height: 423px; }

.solve-item .solve-item-title {
  padding-top: 57px;
  padding-bottom: 36px;
  color: #38425C;
  font-size: 24px; }

.solve-item-swiper {
  font-size: 16px; }

.solve-item-swiper {
  /*border:solid 1px #f00;*/
  padding-left: 32px;
  padding-right: 32px;
  height: 210px;
  overflow: hidden; }

.solve-item-swiper a {
  display: block; }

.solve-item-swiper a:hover {
  text-decoration: underline; }

.solve-item-swiper img {
  width: 40px;
  height: 40px; }

/*.solve-box{
width: 278px;
position: absolute;
}*/
.solve-item-swiperBtn {
  /*margin-top:46px;*/
  position: absolute;
  width: 100%;
  bottom: 27px; }

.swiper-btn {
  width: 29px;
  height: 29px;
  border: solid 1px #D5D5D5;
  border-radius: 50%;
  color: #D5D5D5;
  font-size: 14px;
  line-height: 29px;
  margin: auto; }

.solve-item-swiper table {
  width: 100%;
  border-collapse: collapse;
  position: relative; }

.solve-item-swiper td {
  /*width: 130px;*/
  height: 104px;
  color: #6D7C8F;
  /*border:solid 1px #D5D5D5;*/ }

.solve-item-swiper a {
  color: #6D7C8F; }

.solve-item-swiper td {
  width: 50%;
  vertical-align: middle; }

.solve-item-swiper td:nth-child(2n-1) {
  /*border-right:solid 1px #D5D5D5;*/ }

.solve-item-swiper tr:nth-child(2n-1) {
  /*border-bottom:solid 1px ;*/
  /*border-color: #D5D5D5 #ffffff;*/ }

.solve-item-swiper tr:nth-child(2n-1) td:nth-child(2n-1) {
  background: url("https://zos.alipayobjects.com/rmsportal/UBAlQBgYZMjzbCi.png") no-repeat;
  background-position: 0px 0px; }

.solve-item-swiper tr:nth-child(2n-1) td:nth-child(2n) {
  background: url("https://zos.alipayobjects.com/rmsportal/mgTGkDfWZYmAtGS.png") no-repeat;
  background-position: -1px 0px; }

.solve-item-swiper tr:nth-child(2n) td:nth-child(2n-1) {
  background: url("https://zos.alipayobjects.com/rmsportal/YGHzzmzvoxxPvtM.png") no-repeat;
  background-position: 0px -2px; }

.float-tips {
  color: #fff;
  width: 342px;
  height: 364px;
  background: #272C44;
  opacity: 0.95;
  position: absolute;
  /*top:0px;*/
  top: 423px;
  padding: 57px 0px 0px 0px;
  background-image: url(https://zos.alipayobjects.com/rmsportal/xkNFcUnqDDETUnT.png); }

.float-tips a {
  color: #fff;
  text-decoration: none; }

.tips-list {
  max-height: 275px;
  overflow: hidden; }

.float-tips .tips-ul li {
  float: left;
  width: 128px;
  /*height:50px;*/
  padding-bottom: 5px;
  color: #fff;
  font-size: 16px; }

.float-tips .tips-ul li.centetLi {
  padding-top: 20px; }

.float-tips .tips-ul li:nth-child(2n-1) {
  text-align: right;
  padding-right: 42px;
  border-right: solid 1px rgba(255, 255, 255, 0.3); }

.float-tips .tips-ul li:nth-child(2n) {
  text-align: left;
  padding-left: 42px;
  /*border-left:solid 1px #fff;*/ }

.float-tips-swiperBtn {
  position: absolute;
  width: 100%;
  bottom: 27px; }

/*end solve*/
/*start success*/
.success-content {
  background: #fff;
  text-align: center; }

.success-list-content {
  display: inline-block; }

.success-title {
  color: #38425C;
  font-size: 32px;
  text-align: center;
  padding-top: 54px;
  padding-bottom: 42px; }

.suc-li {
  float: left;
  padding-bottom: 52px;
  padding-left: 12px; }

.suc-li:nth-child(1) {
  padding-left: 0px; }

.suc-li .suc-item {
  border: solid 1px #E8E8E8;
  width: 247px;
  display: block;
  position: relative; }

.suc-item .J_toCaseDetail {
  display: block;
  position: absolute;
  left: 0;
  top: 15px;
  bottom: 0;
  right: 0; }

.suc-li .suc-item:hover {
  text-decoration: none; }

.suc-li .suc-item.suc-item-hover {
  border-color: #108ee9; }

.suc-item .suc-item-type {
  color: #108EE9;
  font-size: 14px;
  margin-top: -10px;
  /*text-align: center;*/ }

.suc-item .suc-item-type a {
  padding: 0 22px;
  background: #fff;
  text-align: center; }

.suc-item .suc-item-bg {
  padding: 22px 20px 0px 20px;
  width: 203px;
  height: 130px;
  font-size: 0px; }

.suc-item .suc-item-bg img {
  width: 203px;
  height: 130px; }

.suc-item .suc-item-logo {
  width: 100%;
  height: 50px;
  margin-top: -25px;
  text-align: center; }

.suc-item .suc-item-logo img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden; }

.suc-item-title {
  padding-top: 8px;
  padding-bottom: 10px;
  color: #38425C;
  font-size: 18px; }

.suc-item-tip {
  color: #6D7C8F;
  font-size: 14px;
  line-height: 20px;
  height: 44px;
  padding: 0px 29px 41px 29px; }

.jui-btn.jui-btn-table:hover {
  background-color: transparent;
  text-decoration: underline; }

.button-content {
  padding-bottom: 72px; }

/*end success*/
/*start ability*/
.ability-content {
  background: #F7F7FA;
  text-align: center;
  padding-bottom: 107px; }

.ability-title {
  color: #38425C;
  font-size: 32px;
  padding-top: 54px;
  padding-bottom: 76px;
  text-align: center; }

.ability-list-content {
  width: 1030px;
  margin: auto; }

.ability-list-content .ability-ul {
  display: inline-block;
  /*padding-bottom:120px;*/ }

.ability-list-content .ability-li {
  float: left;
  width: 210px;
  /*height:210px;*/
  margin-left: 200px; }

.ability-list-content .ability-li.ability-li-first {
  margin-left: 0px; }

/*.ability-list-content .ability-li:nth-child(1){*/
/*padding-left: 0px;*/
/*}*/
.ability-list-content .ability-li .ability-item {
  /*border:solid 1px #108EE9;*/
  /*border-radius: 50%;*/
  width: 210px;
  /*height:210px;*/
  display: block;
  /*position: relative;*/ }

.ability-list-content .ability-li .ability-circle {
  border: solid 1px #108EE9;
  border-radius: 50%;
  width: 210px;
  height: 210px;
  display: block;
  /*position: relative;*/ }

.ability-list-content .ability-li .ability-item:hover, .ability-list-content .ability-li .ability-item:hover .ability-item-title, .ability-list-content .ability-li .ability-item:hover .ability-item-tip {
  color: #108ee9;
  text-decoration: none; }

.ability-item .icon {
  /*border:solid 1px #f00;*/
  width: 44px;
  height: 44px;
  margin: 52px auto 0 auto; }

.ability-item .icon img {
  width: 100%; }

.ability-item .ability-item-title {
  color: #38425C;
  font-size: 24px;
  padding-top: 14px;
  padding-bottom: 15px; }

.ability-item .ability-item-tip {
  width: 168px;
  height: 50px;
  padding: 10px 20px 0px 20px;
  font-size: 14px;
  line-height: 20px;
  color: #6D7C8F;
  background: #F7F7FA;
  margin: auto;
  position: relative;
  z-index: 10;
  margin-top: -55px; }

.fn-mb50 {
  margin-bottom: 53px; }

/*end ability*/
/*start platform*/
.platform-content {
  height: 540px;
  /*line-height:340px;*/
  color: #fff;
  text-align: center;
  background: #60b8f4;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.platform-content .mask {
  height: 540px;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: #3E5676;
  opacity: 0.8; }

.platform-title {
  position: relative;
  z-index: 10;
  padding-top: 62px;
  font-size: 32px;
  padding-bottom: 50px; }

.platform-box {
  position: relative;
  z-index: 10; }

.platform-box .platform-ul {
  display: inline-block;
  /*padding-bottom: 126px;*/ }

.platform-box .platform-ul .platform-item {
  float: left;
  width: 250px;
  height: 250px;
  background: #fff;
  margin-left: 4px;
  display: block; }

.platform-box .platform-ul .platform-item:hover {
  text-decoration: none; }

.platform-box .platform-ul .platform-item:nth-child(1) {
  margin-left: 0px; }

.platform-item-tip {
  color: #6D7C8F;
  text-align: center;
  padding-top: 20px;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  line-height: 20px; }

.platform-item-title {
  color: #38425C;
  padding-top: 78px;
  font-size: 24px;
  text-align: center; }

/*end platform*/
/*start alipays*/
.alipays-content {
  padding-bottom: 121px;
  background: #fff; }

.alipays-img {
  text-align: center; }

.alipays-img img {
  height: 349px; }

.alipays-content-title {
  padding-top: 55px;
  padding-bottom: 88px;
  text-align: center;
  color: #38425C;
  font-size: 32px; }

/*end alipays*/
/*start Feelings*/
.feelings-content {
  height: 340px;
  line-height: 340px;
  font-size: 48px;
  color: #fff;
  text-align: center;
  background: url("https://zos.alipayobjects.com/cmsmng/cms/images/ir3njciw/f465df15-d8f1-40b2-a9a1-f16b602038c6.png") no-repeat #fff;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.feelings-content .mask {
  width: 100%;
  height: 340px;
  position: absolute;
  z-index: 10;
  background: #324359;
  opacity: 0.5; }

.feelings-content .feelings-title {
  padding: 3em;
  position: relative;
  z-index: 10;
  text-shadow: 0 0 8px #353535; }

/*end Feelings*/
/* 服务直通车 begin */
.homeOverflow {
  position: relative;
  overflow-x: hidden; }

.homeMenu {
  width: 100%;
  background-color: #f9f9f9; }

.homeMenuTitle, .homeMenuCont {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #e5e5e5; }

.homeMenuCont {
  height: 90px;
  padding: 15px 0; }

.homeMenuTitleIn, .homeMenuContIn {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }

.wufuTitle {
  width: 160px;
  height: 34px;
  float: left;
  margin-top: 18px;
  background-image: url(../../image/index_pic.png); }

.wufuMore {
  width: 110px;
  height: 34px;
  float: right;
  margin-top: 26px;
  cursor: pointer;
  text-align: right; }

.moreBg {
  width: 14px;
  height: 20px;
  float: left;
  margin-right: 8px;
  cursor: pointer;
  background-image: url(../../image/index_pic.png);
  background-position: -160px 0; }

.wufuMore:hover {
  color: #005bac; }

.wufuMore:hover .moreBg {
  background-position: -160px -20px; }

.menuLine {
  width: 2px;
  height: 90px;
  float: left;
  background-image: url(../../image/menu_line.png); }

.menuCont {
  width: 145px;
  height: 90px;
  display: block;
  float: left; }

.menuContPic {
  height: 30px;
  margin-top: 2px;
  text-align: center;
  color: #1457a0; }

.menuContImg {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url(../../image/index_pic.png);
  background-position: 0 -36px; }

.menuContImg1 {
  background-position: 0 -36px; }

.menuContImg2 {
  background-position: 0 -86px; }

.menuContImg3 {
  background-position: 0 -136px; }

.menuContImg4 {
  background-position: 0 -186px; }

.menuContImg5 {
  background-position: 0 -236px; }

.menuContImg6 {
  background-position: 0 -286px; }

.menuContImg7 {
  background-position: 0 -336px; }

.menuContImg8 {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url(../../image/clue.png) no-repeat center; }

.homeMenuFixed .menuContPic {
  color: #fff; }

.menuCont:hover .menuContPic {
  color: #e93543; }

.menuCont:hover .menuContImg1 {
  background-position: -50px -36px; }

.menuCont:hover .menuContImg2 {
  background-position: -50px -86px; }

.menuCont:hover .menuContImg3 {
  background-position: -50px -136px; }

.menuCont:hover .menuContImg4 {
  background-position: -50px -186px; }

.menuCont:hover .menuContImg5 {
  background-position: -50px -236px; }

.menuCont:hover .menuContImg6 {
  background-position: -50px -286px; }

.menuCont:hover .menuContImg7 {
  background-position: -50px -336px; }

.menuCont:hover .menuContImg8 {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url(../../image/red.png) no-repeat center; }

.homeMenuFixed .menuContPic {
  color: #fff; }

/* 服务直通车 end */
.homePage {
  width: 1200px;
  margin: 2em auto; }

/* 首页中公共部分 begin */
.homePartTitle {
  height: 50px;
  position: relative;
  background-color: #fff;
  font-size: 24px; }

.homePartTitleInfo {
  width: auto;
  height: 28px;
  margin-bottom: -7px;
  display: inline-block;
  background: url(../../image/arrowBg.jpg) left center no-repeat; }

.wordsBox {
  height: 26px;
  line-height: 26px;
  padding: 0 6px;
  color: #e83344;
  margin-left: 15px;
  font-size: 14px;
  float: left;
  border-top: 1px solid #e83344;
  border-bottom: 1px solid #e83344; }

.arrowRightPic {
  width: 6px;
  height: 28px;
  display: block;
  float: left;
  background: url(../../image/arrowRight.jpg) right center no-repeat; }

.titlePic {
  height: 28px;
  margin-left: 5px; }

.tabChange {
  width: 910px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px #005bac solid; }

.tabChange a {
  font-size: 16px; }

.tab {
  height: 48px;
  line-height: 60px;
  display: inline-block;
  padding: 0 36px;
  cursor: pointer;
  border-bottom: 2px solid transparent; }

.tab.current {
  color: #005bac;
  border-bottom-color: #005bac; }

/* 首页中公共部分 end */
.homePartCont {
  width: 100%;
  height: 397px; }

/*---- 内容分类左侧菜单公用部分 BEGIN ----*/
.menuPart {
  width: 290px;
  height: 397px;
  float: left;
  position: relative;
  background-image: url(../../image/bg1.png);
  background-position: left bottom;
  background-repeat: no-repeat; }

.menuPartTitle {
  padding: 28px 0 0 32px;
  height: 54px;
  font-size: 36px;
  color: #fff; }

.menuTabBox {
  width: 182px;
  margin-left: auto; }

.menuTab {
  width: 182px;
  height: 54px;
  line-height: 54px;
  display: block;
  margin-top: 10px;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-size: 18px;
  cursor: pointer; }

.menuTabIcon {
  width: 28px;
  height: 28px;
  display: block;
  cursor: pointer;
  float: left;
  margin: 12px 20px;
  background-image: url(../../image/index_pic.png); }

.menuTabIcon1 {
  background-position: -128px -34px; }

.menuTabIcon2 {
  background-position: -128px -62px; }

.menuTabIcon3 {
  background-position: -128px -90px; }

.menuTabIcon4 {
  background-position: -128px -118px; }

.menuTabIcon5 {
  background-position: -128px -146px; }

.menuTabIcon6 {
  background-position: -128px -174px; }

.menuTabIcon7 {
  background-position: -128px -202px; }

.menuTabIcon8 {
  background-position: -128px -230px; }

.menuTabIcon9 {
  background-position: -128px -258px; }

.menuTabIcon10 {
  background-position: -128px -286px; }

.menuTabIcon11 {
  background-position: -128px -314px; }

.menuTabIcon12 {
  background-position: -128px -342px; }

.menuTab:hover, .menuTab.current {
  color: #59c464;
  background-color: #fff; }

.menuPart2 .menuTab:hover, .menuPart2 .menuTab.current {
  color: #fd7580; }

.menuPart3 .menuTab:hover, .menuPart3 .menuTab.current {
  color: #7095e6; }

.menuPart4 .menuTab:hover, .menuPart4 .menuTab.current {
  color: #60b8f4; }

.menuTab:hover .menuTabIcon1, .menuTab.current .menuTabIcon1 {
  background-position: -100px -34px; }

.menuTab:hover .menuTabIcon2, .menuTab.current .menuTabIcon2 {
  background-position: -100px -62px; }

.menuTab:hover .menuTabIcon3, .menuTab.current .menuTabIcon3 {
  background-position: -100px -90px; }

.menuTab:hover .menuTabIcon4, .menuTab.current .menuTabIcon4 {
  background-position: -100px -118px; }

.menuTab:hover .menuTabIcon5, .menuTab.current .menuTabIcon5 {
  background-position: -100px -146px; }

.menuTab:hover .menuTabIcon6, .menuTab.current .menuTabIcon6 {
  background-position: -100px -174px; }

.menuTab:hover .menuTabIcon7, .menuTab.current .menuTabIcon7 {
  background-position: -100px -202px; }

.menuTab:hover .menuTabIcon8, .menuTab.current .menuTabIcon8 {
  background-position: -100px -230px; }

.menuTab:hover .menuTabIcon9, .menuTab.current .menuTabIcon9 {
  background-position: -100px -258px; }

.menuTab:hover .menuTabIcon10, .menuTab.current .menuTabIcon10 {
  background-position: -100px -286px; }

.menuTab:hover .menuTabIcon11, .menuTab.current .menuTabIcon11 {
  background-position: -100px -314px; }

.menuTab:hover .menuTabIcon12, .menuTab.current .menuTabIcon12 {
  background-position: -100px -342px; }

.moreBtn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0; }

.moreBtn1 {
  background-color: #3292d3; }

.moreBtn2 {
  background-color: #ea4e5b; }

.moreBtn3 {
  background-color: #6184d0; }

.morePic {
  width: 26px;
  height: 24px;
  float: left;
  margin: 6px 6px 0 86px;
  background-image: url(../../image/index_pic.png);
  background-position: -177px -1px; }

/*---- 内容分类左侧菜单公用部分 END ----*/
/*---- 发现我的保险右侧内容部分 BEGIN ----*/
.contPart {
  width: 910px;
  height: 396px;
  float: left;
  border-top: 1px solid #ebebeb; }

.contPartInbox {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0; }

.contPartIn {
  float: left; }

.contPartCont {
  width: 270px;
  height: 366px;
  padding: 30px 0 0 20px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  overflow: hidden; }

.contPartCont img {
  position: absolute;
  right: -10px;
  bottom: 0;
  z-index: -1;
  float: right;
  margin-top: 24px; }

.contPartCont h3 {
  font-size: 18px;
  margin-right: 20px; }

.contPartCont div {
  color: #F00; }

.contPartCont1 {
  width: 307px;
  height: 167px; }

.contPartCont2 {
  width: 307px;
  height: 160px; }

.contPartcontren3 {
  background: url(../../images2/gwsy/index/policy/renshengjieduan/danshenguizu/dsgz3.jpg) right bottom no-repeat;
  position: relative;
  z-index: 100; }

.contPartCont4 {
  width: 270px;
  height: 366px;
  z-index: 200; }

.contPartCont1:hover {
  width: 307px;
  height: 167px; }

.contPartCont2:hover {
  width: 307px;
  height: 160px; }

.contPartCont3:hover {
  width: 270px;
  height: 366px; }

.contPartCont4:hover {
  width: 270px;
  height: 366px; }

.contPartCont:hover img {
  right: 0px; }

.contPartCont1:hover img {
  right: -5px; }

.contPartCont2:hover img {
  right: -5px; }

.contPartCont3:hover img {
  right: -5px; }

.contPartCont4:hover img {
  right: -5px; }

.contPartCont p {
  height: 50px;
  margin-top: 10px;
  margin-right: 20px; }

.lowPrice {
  padding: 0 5px;
  font-size: 20px;
  color: #FF0000;
  font-weight: bold; }

.HPrice {
  padding: 0 5px;
  font-size: 20px;
  color: #FF0000; }

.lowPricez {
  margin-top: 30px;
  color: #f00; }

/*---- 发现我的保险右侧内容部分 END ----*/
/*---- 服务大厅右侧内容部分 BEGIN ----*/
.contPart2 {
  width: 909px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  position: relative; }

/* 小蓝鲸动画盒子 BEGIN */
.animatBox {
  width: 100%;
  height: 136px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../../images2/gwsy/index/water.png); }

.fishAnimate {
  position: absolute;
  bottom: 0;
  left: 0; }

.fish {
  display: block; }

.fishWords {
  position: absolute;
  bottom: 76%;
  left: 180px;
  /*display: none;*/ }

.closeFish {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: 10px;
  cursor: pointer;
  background-image: url(../../images2/gwsy/index/close_fish.png);
  background-repeat: no-repeat; }

.closeFish.cur {
  background-image: url(../../images2/gwsy/index/closeHover.png);
  background-repeat: no-repeat; }

.closeFish.cur:hover {
  background-image: url(../../images2/gwsy/index/closeHoverImg.png);
  background-repeat: no-repeat; }

/* 小蓝鲸动画盒子 END */
.inboxCon {
  width: 302px;
  float: left;
  border-right: 1px solid #ebebeb; }

.inboxCon a {
  display: block;
  padding: 30px 40px; }

.contList font span {
  width: 12px;
  height: 13px;
  display: block;
  float: left;
  margin: 6px 8px 0 0;
  background-image: url(../../image/index_pic.png);
  background-position: -206px 0; }

.contList font a {
  font-size: 12px; }

/*.contList a:hover{
    color:#005bac;
}
.contList a:hover span{
    background-position:-206px -13px;
}*/
/*---- 服务大厅右侧内容部分 END ----*/
/*---- 客户俱乐部右侧内容部分 BEGIN ----*/
.contPart3 {
  width: 909px;
  border-bottom: 1px solid #ebebeb;
  position: relative; }

.contPart3 img {
  width: 262px;
  height: 138px; }

.contPart3 .inboxCon {
  width: 262px;
  height: 356px;
  border-right: 1px solid #ebebeb;
  padding: 20px;
  cursor: pointer; }

.contPart3 .inboxCon:hover {
  background: #fafafa; }

.contPart3 .inboxCon h3 {
  font-size: 18px;
  margin: 15px 10px 0; }

/*.inboxCon1{width:266px;}
.inboxCon2{width:250px;}
.inboxCon3{width:270px;}*/
.contPart3 .inboxCon p {
  margin: 10px 10px;
  height: 48px; }

.contPart3 .inboxCon .contList {
  margin: 15px 10px; }

/*---- 客户俱乐部右侧内容部分 END ----*/
/*---- 今日太保 BEGIN ----*/
.homePartContLast {
  height: 361px; }

.homePartContLast .menuPart4 {
  height: 100%; }

.contPartMiddle {
  width: 578px;
  height: 360px;
  border-bottom: 1px solid #ebebeb;
  border-top: none; }

.contPartMiddle .tabChange {
  position: static;
  width: 100%;
  height: 50px;
  border-bottom: 1px #005bac solid; }

.contPartRight {
  width: 308px;
  height: 360px;
  border-bottom: 1px solid #ebebeb;
  border-top: none;
  float: right; }

.midleCont > .midleContIn {
  width: 520px;
  height: 290px;
  margin: 15px auto 0;
  overflow: hidden; }

.homePartContLast .contList {
  width: 100%;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
  border-bottom: 1px dashed #ebebeb; }

.contList i {
  width: 18px;
  height: 18px;
  display: block;
  margin: 15px 6px 0 0;
  background-image: url(../../image/index_pic.png);
  background-position: -244px 0; }

.contList span {
  font-size: 12px;
  display: block; }

.contList b {
  font-style: normal;
  margin: 13px 6px 0 0;
  font-size: 12px; }

.contList:hover i {
  background-position: -244px -18px; }

.contList:hover span, .contList:hover b {
  color: #005bac; }

.contPartRight > h2 {
  margin-top: 15px;
  height: 35px;
  border-bottom: 1px solid #ebebeb; }

/*---- 今日太保 END ----*/
/*---- 首页 END ----*/
.menuPart1 {
  background-color: #83d48b; }

.menuPart2 {
  background-image: url(../../images2/gwsy/index/bg2.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #fd7580; }

.menuPart3 {
  background-image: url(../../images2/gwsy/index/bg3.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #7095e6; }

.menuPart4 {
  background-image: url(../../images2/gwsy/index/bg4.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: #60b8f4; }

.morePic2 {
  background-position: -218px 4px; }

.morePic3 {
  background-position: -177px -30px; }

.contPartContBox {
  width: 290px;
  height: 396px;
  padding: 0;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

.culbEcpic div.inboxCon {
  width: 303px;
  height: 396px;
  border-right: 0;
  padding: 0; }

.culbEcpic div.inboxCon img {
  width: 302px;
  height: 396px; }

.culbEcpic div.inboxCon:hover {
  width: 303px;
  height: 396px;
  border: 0;
  padding: 0;
  right: 0; }

.culbEcpic .contPartInbox {
  border-right: 1px solid #e8e8e8; }

.culbEcpic div.inboxCon:hover .inboxConImg {
  display: none !important; }

/* 2016.01.15 by eric begin */
.homePageEcpic .inboxCon .firstImg {
  display: block; }

.homePageEcpic .inboxCon .curImg {
  display: none !important; }

.homePageEcpic .inboxCon:hover .firstImg {
  display: none !important; }

.homePageEcpic .inboxCon:hover .curImg {
  display: block !important; }

.culbEcpic div.inboxCon .inboxConImgHover {
  display: none !important; }

.culbEcpic div.inboxCon:hover .inboxConImgHover {
  display: block !important; }

/* 2016.01.15 by eric end */
.culbEcpic div.inboxCon:hover .inboxConImgHover {
  display: block; }

.moreBtn1:hover {
  background-color: #1899f2; }

.moreBtn2:hover {
  background-color: #fd5b69; }

.moreBtn3:hover {
  background-color: #709af1; }

.clubContent .inboxCon:hover {
  background: #fafafa; }

.searchService .inboxCon {
  height: 363px; }

.searchService .inboxConLast {
  border-right: 0;
  width: 263px; }

.height80 {
  height: 80px; }

/* Lynn */
.contPart2 .inboxCon {
  padding: 34px 10px 0 30px;
  width: 262px;
  cursor: pointer;
  height: 366px;
  border-right: 1px solid #e8e8e8; }

.contPart .borderNone {
  border-right: 0; }

.contPart .inboxCon:hover {
  background: #fafafa; }

/* JiangHanLin */
.fs18 {
  font-size: 18px;
  margin-bottom: 8px; }

.height60 {
  margin: 20px 0 20px 0; }

.moreDuo:hover .moreBg {
  background-position: -160px -20px; }

.lowPriCe {
  color: #FF0000; }

.displayB {
  display: block; }

.height30 {
  height: 30px; }

.displayN {
  display: none; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes bgfadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.popbox {
  display: none;
  height: 0; }

.popbox .popmask {
  visibility: hidden;
  display: block;
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.popbox .loginbox .iframe, .popbox .loginbox iframe, .popbox .popmask {
  width: 100%;
  height: 100%; }

.popbox .loginbox .iframe {
  position: relative; }

.popbox .loginbox iframe {
  visibility: hidden;
  width: 286px;
  overflow: hidden; }

.popbox .loginbox .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://t.alipayobjects.com/images/T1fONeXlBpXXXXXXXX.gif) #000000 no-repeat center center; }

.popbox .loginbox {
  width: 286px;
  height: 380px;
  border-radius: 5px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  margin-left: -143px;
  margin-top: -120px; }

.popbox .popbox-close {
  position: absolute;
  z-index: 9;
  top: 5px;
  left: 10px;
  font-size: 16px;
  color: #ccc;
  text-decoration: none; }

.popbox .popbox-close:hover {
  color: #f1f1f1; }

.stat-login {
  display: block !important; }

.stat-login .loginbox, .popbox .popmask {
  visibility: visible; }

/*start footer*/
.content.footer-content {
  /*height:352px;*/
  /*padding:42px 120px 26px 120px;*/
  background: #242735;
  color: #fff;
  text-align: left; }

.footer-content.complete .link-content {
  display: block; }

.footer-content .link-content {
  font-size: 12px;
  padding: 42px 10px 26px 10px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  display: none;
  width: 1180px;
  margin: auto; }

.footer-content .right-content {
  text-align: center;
  font-size: 12px;
  /*padding:25px 0px;*/
  padding-top: 28px;
  /*padding-bottom:25px;*/
  opacity: 0.8; }

.footer-content .right-content .server {
  text-align: center;
  font-size: 12px;
  color: #242735; }

.footer-content .service-icon {
  vertical-align: sub;
  margin-right: 10px; }

.link-list-content {
  opacity: 0.8; }

.link-content {
  padding-left: 10px; }

ul.link-list-content > li {
  float: left;
  /*border:solid 1px #f00;*/ }

.link-list-content .list-title {
  padding-bottom: 20px;
  font-size: 14px; }

.link-content .web-content {
  width: 200px;
  margin-right: 20px; }

.link-content .web-content .web-ul {
  line-height: 30px; }

.link-content .links-content {
  padding-left: 0px; }

.link-content .links-content .link-ul {
  width: 360px; }

.link-content .links-content .link-ul li {
  float: left;
  width: 120px;
  line-height: 30px; }

.link-content .services-content {
  padding-left: 100px; }

.link-content .services-content .list-ul {
  line-height: 24px;
  width: 210px; }

.link-content .services-content .list-ul li {
  padding-bottom: 12px; }

.link-content .services-content .service-icon {
  width: 15px; }

.link-content .business-content {
  padding-left: 60px; }

.link-content .business-content .business-ul {
  width: 225px;
  line-height: 24px; }

.link-content .business-content .service-icon {
  width: 14px; }

.link-content .business-content .business-ul li {
  padding-bottom: 12px; }

.footer-content a {
  color: #fff; }

.toHelp {
  display: block; }

/*end footer*/
/*智能小宝*/
#onlineService {
  top: auto;
  right: auto;
  bottom: 184px;
  left: 50%;
  margin-left: 609px; }

#onlineService a img {
  width: 40px; }

#onlineService .J-close-online-service-trigger {
  display: none; }

/*# sourceMappingURL=simply-index-v3.css.map */
