@charset "UTF-8";

$lightblue: #3aaae1;
$darkblue:#3c8dbc;
$daekgreen: #00a65a;
$yellow:#f39c12;
$skyblue: #00c0ef;
$lightred: #f56954;
$red:#dd4b39;
$white:#fff;
$dark:#000;
$gray:#555;
$deepbule:#269abc;
$color0: #3c8dbc;
$color1: #00a65a;
$color2: #f39c12;
$color3: #00c0ef;
$color4: #f56954;

$font: Arial, "微软雅黑", "华文细黑", STHeiti-Light, STHeiti, "宋体";